# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!NuGet.Config
!Directory.Build.props
!Directory.Build.targets
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Libraries
!/libs

## Solution
!serilog-sinks-bepinex.sln

### Serilog.Sinks.BepInEx Project
!/Serilog.Sinks.BepInEx
/Serilog.Sinks.BepInEx/[Bb]in
/Serilog.Sinks.BepInEx/[Oo]bj

### Serilog.Sinks.BepInEx.Tests Project
!/Serilog.Sinks.BepInEx.Tests
/Serilog.Sinks.BepInEx.Tests/[Bb]in
/Serilog.Sinks.BepInEx.Tests/[Oo]bj

### Build Project
!/Build
/Build/[Bb]in
/Build/[Oo]bj

# Explicit exceptions/ignores
**.user
!**.template.*.user
